body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../../static/styles/images/bg.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

nav {
    background-color: #3e8e41;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    display: inline-block; /* Display links in inline-block format */
    padding: 10px; /* Add padding to links for spacing */
}

.logo {
    width: 50px; /* Adjust the width as needed */
    height: auto;
}

.AboutUs {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: justify;
    color: white;
}

.AboutUs h1 {
    font-size: 5em;
    margin-top: 0;
    text-align: center;
}

.AboutUs p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 100px;
}

/* Adjustment for the margin for the heading */
.AboutUs h1 {
    font-size: 5em;
    margin-top: 100px;
}


