<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>About us</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/aboutus.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>

    <nav>
        <img src="Ebooklogo.webp" class="logo ebook-logo">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        
        
        <label class="logo"></label>
         <ul>
                    <li><a class="active" href="/Home">Home</a></li>
                    <li><a href="/My_account">My Account</a></li>
                    <li><a href="/Login">Log out</a></li>
        </ul>

        
    </nav>
     <div class="AboutUs">
        <h1>About Us</h1>
        <p>
        Welcome to eBookClub, where the love for literature comes to life! Our ebook club is more than a platform;<br> it's a thriving community of avid readers, united by the joy of storytelling. Founded on 27 January 2024, <br>our mission is to provide a haven for book enthusiasts to access a diverse collection of ebooks for free. <br>At eBookClub, we celebrate the power of books to transform lives and foster a sense of community. <br>Join us on this literary journey, where you'll enjoy free access to a curated collection, community discussions, <br>and the shared passion for reading. Whether you're a seasoned reader or just starting, eBookClub invites <br>you to explore, connect, and immerse yourself in the magic of books. Happy reading!
        </p>
    </div>
</body>
</html>
