{% extends "layout.html" %}

{% block body %}
<nav  id="navbar">
    <img src="../images/Ebooklogo.png" alt="" class="ebook-logo">
        <ul>
            <li><a href="#">Home</a><li>
            <li><a href="#">About</a><li>
            <li><a href="#">idea</a><li>
            <li><a href="#">My Account</a><li>
            <li><a href="#">Logout</a><li>
        </ul>
</nav>

    <div class="header">
        <p>Lets explore through literature!</p>
    </div>

    <div class="Search">
        <input placeholder="Search">
        <button>
            <i class="material-icons">search</i>
        </button>
    </div>

    <div class="category-container">
        {% for book in books %}
            <div class="book-box">
                <a href="{{ url_for('app_views.home', book_id=book.id) }}">{{ book.title }}</a>
            </div>
        {% endfor %}
    </div>

    <script>
        // Get the navigation element
        const nav = document.getElementById('navbar');

        // Function to handle scroll event
        function handleScroll() {
            // Add 'hidden' class to nav when scrolling down, remove it when scrolling up
            if (window.scrollY > this.lastScroll) {
                nav.classList.add('hidden');
            } else {
                nav.classList.remove('hidden');
            }
            this.lastScroll = window.scrollY;
        }

        // Add scroll event listener
        window.addEventListener('scroll', handleScroll);
    </script>

    <footer class="footer">
        <p class="footer-text">&copy; 2024 EBOOKCLUB. All rights reserved.</p>
    </footer>
{% endblock %}
