{% extends "layout.html" %}

{% block body %}
    <nav>
            
        <div>
            <h3>EBOOK CLUB</h3>
        </div>

        <div>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Blog</a>
          </div>
                
    </nav>

    <div class="header">
        <p>Lets explore through literature!</p>
    </div>
    <div class="Search">
        <input placeholder="Search">
        <button>
        <i class="material-icons">search</i>
    </button>
    </div>
    {% for book in books %}
        <div class="book-box">
        <a href="{{ url_for('app_views.home', book_id=book.id) }}">{{ book.title }}</a>
        </div>
    {% endfor %}
{% endblock %}
