{% extends "layout.html" %}

{% block body %}
<nav>
    <img src="eBookClub/images/Ebooklogo.png" class="logo ebook-logo">
        <ul>
            <li><a href="#">Home</a><li>
            <li><a href="#">About</a><li>
            <li><a href="#">idea</a><li>
            <li><a href="#">My Account</a><li>
            <li><a href="#">Logout</a><li>
        </ul>
</nav>

    <div class="heading">
        <h3>categorise</h3>
    </div>

    <div class="Search">
        <input placeholder="Search">
        <button>
		    <i class="material-icons">search</i>
	    </button>
    </div>

    <div class="category-container">
        {% for category in categories %}
            <div class="category-box" style="background-color: {{ category.color }}">
            <a href="{{ url_for('app_views.list_books', books_by_category=books_by_category) }}">{{ category.category_name }}</a>
           </div>
        {% endfor %}
     </div>

    <footer class="footer">
        <p class="footer-text">&copy; 2024 EBOOKCLUB. All rights reserved.</p>
    </footer>

{% endblock %}
