{% extends "layout.html" %}

{% block body %}
<nav>
    <img src="eBookClub/images/Ebooklogo.png" class="logo ebook-logo">
        <ul>
            <li><a href="#">Home</a><li>
            <li><a href="#">About</a><li>
            <li><a href="#">idea</a><li>
            <li><a href="#">My Account</a><li>
            <li><a href="#">Logout</a><li>
        </ul>
</nav>

    <div class="heading">
        <h3>Categories</h3>
    </div>


    <div class="category-container">
            {% for category in categories %}
            <div class="category-box" >
            <a href="{{ url_for('app_views.list_books', category_name=category.category_name ) }}">{{ category.category_name }}</a>
           </div>
        {% endfor %}
     </div>

    <footer class="footer">
        <p class="footer-text">&copy; 2024 EBOOKCLUB. All rights reserved.</p>
    </footer>

{% endblock %}
