{% extends "layout.html" %}
{% block body%}

    <nav>
        
            <ul>
                <li><a href="/Home">Home</a><li>
                <li><a href="/About">About</a><li>
                <li><a href="{{ url_for('app_views.my_account') }}">My Account</a><li>
                <li><a href="/login">Logout</a><li>
            </ul>
    </nav>


<div class="text-wrapper">
    <h1>Welcome to our eBook Club</h1>
    <p>Let's explore through literature!</p>
</div>

<section class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <img id="slide-1" src="..\images\deadpool.JPEG" alt="no picture">
            <img id="slide-2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRak-7tVzweDKazAe9v_BzMr18uehtvqcTqpg&usqp=CAU">
            <img id="slide-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRak-7tVzweDKazAe9v_BzMr18uehtvqcTqpg&usqp=CAU">
            <img id="slide-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRak-7tVzweDKazAe9v_BzMr18uehtvqcTqpg&usqp=CAU">
            <img id="slide-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRak-7tVzweDKazAe9v_BzMr18uehtvqcTqpg&usqp=CAU">
            <img id="slide-6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRak-7tVzweDKazAe9v_BzMr18uehtvqcTqpg&usqp=CAU">
        </div>
    </div>

    <div class="slider-nav">
        <a href="#slide-1"></a>
        <a href="#slide-2"></a>
        <a href="#slide-3"></a>
        <a href="#slide-4"></a>
        <a href="#slide-5"></a>
        <a href="#slide-6"></a>
    </div>

</section>

<footer class="footer">
    <p class="footer-text">&copy; 2024 EBOOKCLUB. All rights reserved.</p>
</footer>

{% endblock %}
