{% extends "layout.html" %}
{% block body%}

    <nav>
        <img src="eBookClub/images/Ebooklogo.png" class="logo ebook-logo">
            <ul>
                <li><a href="#">Home</a><li>
                <li><a href="#">About</a><li>
                <li><a href="#">Review</a><li>
                <li><a href="#">My Account</a><li>
                <li><a href="#">Logout</a><li>
            </ul>
    </nav>

<div class="flex-container">
    
</div>

<div class="text-wrapper">
    <h1>Welcome to our eBook Club</h1>
    <p>Let's explore through literature!</p>
</div>

<footer class="footer">
    <p class="footer-text">&copy; 2024 EBOOKCLUB. All rights reserved.</p>
</footer>

{% endblock %}